@page
@model StudentsManagementApp.Pages.Courses.CreateModel
@{
}

<h2>New Course</h2>

<div class="database form">
<form method="POST">
    <div >
        <label for="description" >Description</label>
        <div>
            <input type="text"  name="description" id="description"
                   placeholder="Enter description.." value="@Model.courseDto.Description" />
        </div>
    </div>

    <div >
        <label for="teacherId" >Teacher</label>
        <div>
            @*<input type="text"  name="teacherId" id="teacherId "
                   placeholder="Enter teacher.." value="@Model.courseDto.TeacherId" />*@
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    @foreach (var teacher in Model.teachers)
                    {
                        listItems.Add(new SelectListItem
                {
                    Text = @teacher.Firstname + " " + teacher.Lastname,
                    Value = @teacher.Id.ToString()
                });

                    }
                }

                @Html.DropDownList("teacherId", listItems, new { @class = "dropdown-list" })
        </div>
    </div>

  

    <div >
            <div class="submitCancelButtons">
                <button class="button" type="submit">Submit</button>
                <a class="button" href="/Courses/Index" role="button">Cancel</a>
        </div>


    </div>
</form>
</div>
@if (!Model.errorMessage.Equals(""))
{
    <div class="error"><strong>@Model.errorMessage</strong></div>
}
